<% if @maskindb_entry.nil?%>
  <div class="alert alert-critical">
    <%= _('Unable to find MaskinDB entry for this host') %>
  </div>
<% else %>
  <h2><a href="<%= SETTINGS[:maskindb_url] + '/servrar/server/' + @maskindb_entry[:url].split('/').last %>"><%= _('MaskinDB Data') %></a></h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr><th colspan="2"><%=_('Server') %></th></tr>
    </thead>
    <tbody>
      <%= mprop :status %>
      <%= mprop :admin, _('Ansvarig') %>
      <%= mprop :backupadmin, _('Reserv') %>
      <%= mprop :group, _('Brukare') %>
      <%= mprop :notes, _('Notering') %>
    </tbody>
  </table>
  <table class="table table-bordered table-striped">
    <thead>
      <tr><th colspan="2"><%=_('Hårdvara') %></th></tr>
    </thead>
    <tbody>
      <%= mprop :uuid %>
      <%= mprop :datacenter, _('Datorhall') %>
      <%= mprop :rack %>
      <%= mprop :model, _('Modell') %>
      <%= mprop :buydate, _('Inköpt') %>
      <%= mprop :ser_no, _('Serienummer') %>
      <%= mprop :inv_no, _('Anläggningsnummer') %>
      <%= mprop :obj_no, _('Objektnummer') %>
      <%#= mprop :supportavtal %>
      <%#= mprop :slutdatum %>
      <%#= mprop :standby %>
      <%#= mprop :normal %>
    </tbody>
  </table>
  <!--
  <%
    kontakter = @maskindb_entry.kontakter rescue []
  %>
  <% if kontakter.any? %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr><th colspan="2"><%=_('Kontakter') %></th></tr>
      </thead>
      <tbody>
        <% kontakter.each do |k| %>
          <tr><th><%= k[:id] %></th><td><%= k[:kommentar] %></td></tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  -->
<% end %>
